.wrapper {
    margin: 20px auto;
    width: 600px;
}

.container {
    color: black;
    background-color: greenyellow;
    margin: 20px;
    padding: 5px;
    border-radius: 7px;
}

button, input {
    background-color: green;
    border-radius: 5px;
    color: greenyellow;
}

.postContent {
    font-style: italic;
    font-size: larger;
}